@model MyProject.Data.Award

@{
    ViewBag.Title = "Details";
    Layout = null;
}
<style>
    .video-frame {
        width: 100%;
        height: auto;
        box-shadow: 0 0 6px 3px #0000004f;
        border-radius: 5px;
        padding: 10px;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title">Detail</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<!--begin::Content-->
<!--begin::Entry-->
<div class="modal-body">
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->
            <!--begin::Card-->
            <div class=" card-custom" id="kt_page_sticky_card">



                <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
                <div class="form-group row">
                    <div class="col-lg-12 text-center">
                        <div class="image-input image-input-outline" id="kt_image_1">
                            <div class="image-input-wrapper" style="background-image: url('@Model.Image')"></div>

                        </div>
                     
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "Enter name here ...", required = "required" } })
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-server"></i></span></div>
                            </div>
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Title (Ar)</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.TitleAr, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "Enter name here ...", required = "required", dir="rtl" } })
                                <div class="input-group-append"><span class="input-group-text"><i class="fa fa-server"></i></span></div>
                            </div>
                            @Html.ValidationMessageFor(model => model.TitleAr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <div class="input-group mb-2">
                                @Html.TextAreaFor(model => model.Description, 5, 2, new { @class = "form-control", @readonly = "readonly", placeholder = "Enter description  here ..." })

                            </div>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Description (Ar)</label>
                            <div class="input-group mb-2">
                                @Html.TextAreaFor(model => model.DescriptionAr, 5, 2, new { @class = "form-control", @readonly = "readonly", placeholder = "Enter description  here ..." , dir="rtl"})

                            </div>
                            @Html.ValidationMessageFor(model => model.DescriptionAr, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>




            </div>
            <!--end::Card-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
<!--end::Entry-->

<!--end::Row-->
<script>
	var SuccessMessage = '@ViewBag.SuccessMessage';
	var ErrorMessage = '@ViewBag.ErrorMessage';
</script>






