
@model IEnumerable<MyProject.Data.ServiceRating>

@{
	ViewBag.Title = "List";
	Layout = null;
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<style>
	#kt_datatable1 tbody tr td:last-child {
		white-space: nowrap;
	}

	.seemore {
		width: 100px;
		white-space: nowrap;
		overflow: hidden;
		display: inline-block;
		text-overflow: ellipsis;
		margin: 0;
	}
</style>
<!--begin::Row-->
<div class="row">
	<div class="col-xl-12">
		<!--begin::Card-->
		<div class="card card-custom gutter-b">
			<div class="card-header flex-wrap border-0 pt-6 pb-0">
				<div class="card-title">
					<h3 class="card-label">
						Service Ratings Approvals
						<span class="d-block text-muted pt-2 font-size-sm">Manage Ratings Approvals Here...</span>
					</h3>
				</div>
                <div class="card-toolbar">
                    <!--begin::Dropdown-->
                    <div class="dropdown dropdown-inline d-flex mr-5">
                        <select class="form-control" id="ApprovalStatus" onchange="Statuschange(this);" name="ApprovalStatus">
                            <option value="3">Select Status</option>
                            <option value="1">Completed</option>
                            <option value="0">Rejected</option>
                        </select>
                        @*@Html.DropDownList("VendorID", null, "Select Vendor", htmlAttributes: new { @class = "form-control", @id = "VendorID" })*@
                    </div>
                    <div class="dropdown dropdown-inline mr-2">
                        @using (Html.BeginForm("ServiceRatingReport", "ServiceRatings", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <button type="submit" class="btn btn-dark btn-sm" @(Model.Count() > 0 ? "" : "disabled")>
                                <i class="far fa-file-excel"></i>
                                Export Excel
                            </button>
                        }
                    </div>
                </div>
			</div>
			<div class="card-body" >
				@Html.AntiForgeryToken()
				<!--begin: Datatable-->
				<table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
					<thead>
						<tr>
							<th>Date</th>
							@*<th hidden>Booking ID</th>*@
							<th>Booking No</th>
							<th>Service</th>
							<th>Rating</th>
							<th>Status</th>
							<th>Show On Website</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody style="display:none">
						@foreach (var item in Model)
						{
							<tr>
								<td>@(item.CreatedOn.HasValue ? item.CreatedOn.Value.ToString(MyProject.Web.Helpers.CustomHelper.GetDateFormat) : "-")	</td>
								@*<td hidden>@item.ServiceBookingID</td>*@
								<td>@item.ServiceBooking.BookingNo</td>
								<td>@item.Service.Name</td>
								<td>@item.Rating</td>
								<td nowrap="nowrap">@item.IsApproved</td>
								<td nowrap="nowrap">@item.IsApproved</td>
                                <td nowrap="nowrap">@item.IsApproved,@item.ID</td>
							</tr>
						}
					</tbody>
				</table>
				<!--end: Datatable-->
			</div>
		</div>
		<!--end::Card-->
	</div>
</div>
<!--end::Row-->