@model Project.Data.VendorPackage


@{
	ViewBag.Title = "Create";
	Layout = null;
}
<style>
	.video-frame {
		width: 100%;
		height: auto;
		box-shadow: 0 0.5rem 1.5rem 0.5rem rgb(0 0 0 / 8%);
		border-radius: 5px;
		padding: 10px;
	}
</style>
<!--begin::Content-->
<div class="modal-header">
	<h5 class="modal-title">Details</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i aria-hidden="true" class="ki ki-close"></i>
	</button>
</div>

<div class="modal-body">

	@Html.AntiForgeryToken()
	<div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label class="control-label">Name</label>
            <div class="input-group mb-2">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "Enter Name here ...", required = "required" } })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-server"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label class="control-label">Name (Ar)</label>
            <div class="input-group mb-2">
                @Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = " ...Enter Name (Ar) here", required = "required", dir = "rtl" } })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-server"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.NameAr, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label class="control-label">Price</label>
            <div class="input-group mb-2">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = " ...Enter price here", required = "required", dir = "rtl" } })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-server"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label class="control-label">Billing Period</label>
            <div class="input-group mb-2">
                @Html.EditorFor(model => model.BillingPeriod, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", placeholder = "Enter Billing Period here ...", required = "required" } })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-server"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.BillingPeriod, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label class="control-label">Description</label>
            <div class="input-group mb-2">
                @*@Html.HiddenFor(model => model.TitleDescription)
                    <div id="TitleDescriptionTXT" class="richtexteditor"></div>*@
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @readonly = "readonly", rows = "2", placeholder = "Enter description here ..." })
            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label class="control-label">Description(Ar)</label>
            <div class="input-group mb-3">
                @*@Html.HiddenFor(model => model.TitleDescriptionAr)
                    <div id="TitleDescriptionArTXT" class="richtexteditor"></div>*@
                @Html.TextAreaFor(model => model.DescriptionAr, new { @class = "form-control", @readonly = "readonly", rows = "2", placeholder = " ...Enter description (Ar) here", dir = "rtl" })
            </div>
            @Html.ValidationMessageFor(model => model.DescriptionAr, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
