@model MyProject.Data.Product
@{
	ViewBag.Title = "Create";
	Layout = null;
}
<div class="modal-header">
	<h5 class="modal-title">Add Product</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i aria-hidden="true" class="ki ki-close"></i>
	</button>
</div>
<div class="modal-body">
	@using (Html.BeginForm("QuickCreate", "Product", new { area = "Admin" }, FormMethod.Post, new { id = "Userform", @class = "form" }))
	{
		@Html.AntiForgeryToken()
		<div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="form-group">
					<label class="control-label">SKU</label>
					<div class="input-group mb-2">
						@Html.EditorFor(model => model.SKU, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter SKU here ...", required = "required" } })
						@Html.ValidationMessageFor(model => model.SKU, "", new { @class = "text-danger" })
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-hashtag"></i></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="form-group">
					<label class="control-label">Name</label>
					<div class="input-group mb-2">
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name here ...", required = "required" } })
						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
						<div class="input-group-append">
							<span class="input-group-text"><i class="fa fa-tag"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="form-group">
					<label class="control-label">Slug</label>
					<div class="input-group mb-2">
						<input type="text" class="form-control" required readonly name="Slug" id="Slug" placeholder="Enter product name" />
						@Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fa fa-link"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<button type="submit" class="btn btn-custom" form="Userform">Submit</button>
</div>

<script>
	var _URL = window.URL || window.webkitURL;
	$(document).ready(function () {
		$("#Name").on('change', function () {
			var name = $(this);
			$("#Slug").val($(name).val().replace(/ /g, "-").toLocaleLowerCase());
		});
	});
</script>