@model MyProject.Data.Development


@{
    ViewBag.Title = "Create";
    Layout = null;
}
<style>
    .video-frame {
        width: 100%;
        height: auto;
        box-shadow: 0 0 6px 3px #0000004f;
        border-radius: 5px;
        padding: 10px;
    }
</style>



<div class="modal-header">
    <h5 class="modal-title">Update</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>

<div class="modal-body">

    <form id="editform">
        @Html.HiddenFor(model => model.ID)
        @Html.AntiForgeryToken()
        <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-lg-12 text-center">
                <div class="image-input image-input-outline" id="kt_image_1">
                    @if (string.IsNullOrEmpty(Model.Image))
                    {
                        <div class="image-input-wrapper" style="background-image:url('../../../../Assets/AppFiles/Images/default.png')"></div>
                    }
                    else
                    {
                        <div class="image-input-wrapper" style="background-image:url('@Model.Image')"></div>
                    }

                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change logo">
                        <i class="fa fa-pen icon-sm text-muted"></i>
                        <input type="file" name="Image" id="cover" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="profile_avatar_remove" />
                    </label>
                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow cancelimage" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                        <i class="ki ki-bold-close icon-xs text-muted"></i>
                    </span>
                </div>
                <span class="form-text text-muted">Image dimensions should be 418 x 213 pixels and Image size must be less than 200 kb</span>
            </div>
        </div>
        <div class="row">


            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter name here ...", required = "required" } })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-server"></i></span></div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Title (Ar)</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control", placeholder = " ...Enter name (Ar) here", required = "required", dir = "rtl" } })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-server"></i></span></div>
                    </div>
                    @Html.ValidationMessageFor(model => model.NameAr, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <div class="input-group mb-2">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "2", placeholder = "Enter description  here ..." })

                    </div>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Description(Ar)</label>
                    <div class="input-group mb-3">
                        @Html.TextAreaFor(model => model.DescriptionAr, new { @class = "form-control", rows = "2", placeholder = " ...Enter description (Ar) here", dir = "rtl" })

                    </div>
                    @Html.ValidationMessageFor(model => model.DescriptionAr, "", new { @class = "text-danger" })
                </div>
            </div>

            <input type="hidden" name="IsApproved" id="IsApproved" value="@Model.IsApproved" />
            @*<div class="col-3">
                    <label class="control-label">IsApproved</label>

                    <span class="switch">
                        <label>
                            @Html.CheckBoxFor(model => model.IsApproved, new { @class = "form-control" })
                            <span></span>
                        </label>
                    </span>
                    @Html.ValidationMessageFor(model => model.IsApproved, "", new { @class = "text-danger" })

                </div>*@
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-custom" form="editform">Save Changes</button>
</div>

<script>
    'use strict';

    // Class definition
    var KTImageInputDemo = function () {
        // Private functions
        var initDemos = function () {
            var avatar1 = new KTImageInput('kt_image_1');
        }

        return {
            // public functions
            init: function () {
                initDemos();
            }
        };
    }();

    'use strict';
    KTUtil.ready(function () {
        KTImageInputDemo.init();


    });
    var _URL = window.URL || window.webkitURL;
    //Image Validation Begin
    $("#cover").change(function (e) {

        var file, img;

        if ((file = this.files[0])) {

            img = new Image();
            img.onload = function () {

                if (this.width < 418 || this.width > 418) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Image dimension should be 418 x 213 !',

                    }).then(function (result) {
                        $("#cover").attr("src", "/Assets/AppFiles/Images/default.png");
                        $(".cancelimage").trigger('click');
                    });
                }
                else if (this.height < 213 || this.height > 213) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Image dimension should be  418 x 213 !',

                    }).then(function (result) {
                        $("#cover").attr("src", "/Assets/AppFiles/Images/default.png");
                        $(".cancelimage").trigger('click');
                    });
                }
                else if (this.size > 200000) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Image size must be less than 200 kb!',

                    }).then(function (result) {
                        $("#cover").attr("src", "/Assets/AppFiles/Images/default.png");
                        $(".cancelimage").trigger('click');
                    });
                }
                else {
                    img.onerror = function () {
                        alert("not a valid file: " + file.type);
                    };
                }
            };
            img.src = _URL.createObjectURL(file);
        }
    });
    $("#editform").submit(function () {
        var data = new FormData();
        var image = $("#cover").val();
        if (image != '') {
            data.append("Image", $("#cover")[0].files[0]);
        }
        data.append("ID", $("#ID").val());
        data.append("Name", $("#Name").val());
        data.append("NameAr", $("#NameAr").val());
        data.append("Description", $("#Description").val());
        data.append("DescriptionAr", $("#DescriptionAr").val());
        data.append("IsApproved", $("#IsApproved").prop('checked'));
        data.append("__RequestVerificationToken", $('input[name=__RequestVerificationToken]').val());
        $.ajax({
            url: "/Admin/Development/edit/",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {

                if (callback) {
                    callback($('#myModalContent'), element, true, response);
                }
            },
            error: function (er) {

                toastr.error(er);
            }
        });
        return false;
    });
</script>
